html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif
}
canvas{
    border: 1px solid #eee;
    width: 100%;
}
.colores{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
}
.color{
    width: 35px;
    height: 35px;
}
#clr{
    float: right;
    margin-right: 30px;
    background: white;
    color: black;
    box-shadow: none;
    border: 1px solid;
    padding: 12px 50px;
}
.conectados{
    width: 10%;
    position: absolute;
    top: 0;
    right: 0;
    background: #eee;
    padding: 15px;
}